.header {
    padding: 1.5rem 1rem;
    background-color: lightgray;
    text-align: right;
}

.header nav a,
.sign-out {
    padding: 0.8rem 1rem;
    color: black;
    margin: 0 0.5rem;
    text-decoration: none;
    border-radius: 0.4rem;
}

.header nav a:hover {
    background-color: rgb(166, 166, 166);
}

.sign-out {
    border: none;
    background: rgb(252, 162, 162);
    cursor: pointer;
}

.sign-out:hover {
    background-color: rgb(166, 166, 166);

}